.display-none{
  display: none !important;
}

.window {
  display: flex;
  position: absolute;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid var(--primary-color);
  animation: appear .4s steps(4);
}

.window::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--bg-color);
}

.window::after{
    content: '_ ▄ █';
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 1lh;
    height: 1.5rem;
    color: var(--primary-color);
}

.console {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100dvw;
  height: 100dvh;
  padding: 1rem;

  .access{
    position: absolute;
    top: 40dvh;
    font-size: calc(2rem + 1vw);
    font-weight: 900;
    text-align: center;
    font-family: 'Doto', monospace;
    gap: 1rem;
    line-height: 1lh;
    padding: 0 10px;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    width: min(500px, 80vw);
    height: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    z-index: 101;
    animation: intermittent .5s 3s ease-in-out infinite;
  }

  .location {
    top: 20dvh;
    right: 10px;
    color: var(--text-color);
    width: min(380px, 80dvw);
    height: 30dvh;
    z-index: 100;
    background-color: var(--bg-color);
  }

  .logs {
    bottom: 10dvh;
    width: min(2048px, 95dvw);
    height: 60dvh;
  }
}

  .access::before, .access::after {
    content: "";
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px;
    background-color: var(--primary-color);
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, var(--primary-color), var(--primary-color) 15px, transparent 5px, transparent 25px );
  }

.console-log {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  color: var(--text-color);
  padding: 1rem;
  height: min-content;
}

.console-location {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.console-log::after,
.console-location::after {
  content: "-";
  animation: spin 1s steps(4) infinite;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5dvh;
  border: 3px solid var(--bg-color);
  outline: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--bg-color) 0%,
    var(--bg-color) 100%
  );
  animation: loader 3s steps(6) forwards;
}

.loader::before {
  position: absolute;
  content: "";
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 20px;
  mix-blend-mode: difference;
  color: var(--text-color);
  position: relative;
  animation: load-text 3s steps(6) forwards;
}

@keyframes load-text {
  0% {
    content: "0%";
  }
  5% {
    content: "18%";
  }
  35% {
    content: "27%";
  }
  45% {
    content: "36%";
  }
  90% {
    content: "54%";
  }
  98% {
    content: "90%";
  }
  100% {
    content: "100%";
  }
}

@keyframes loader {
  0% {
    background: linear-gradient(
      to right,
      var(--primary-color) 0%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  5% {
    background: linear-gradient(
      to right,
      var(--primary-color) 18%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  35% {
    background: linear-gradient(
      to right,
      var(--primary-color) 27%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  45% {
    background: linear-gradient(
      to right,
      var(--primary-color) 36%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  90% {
    background: linear-gradient(
      to right,
      var(--primary-color) 54%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  98% {
    background: linear-gradient(
      to right,
      var(--primary-color) 90%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
  100% {
    background: linear-gradient(
      to right,
      var(--primary-color) 100%,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  }
}

@keyframes spin {
  0% {
    content: "-";
  }
  25% {
    content: "\\";
  }
  50% {
    content: "|";
  }
  75% {
    content: "/";
  }
  100% {
    content: "-";
  }
}

@media (orientation: portrait) {
  .console {
    .location {
      width: 70vw;
      height: 25dvh;
      top: 25dvh;
      right: 0px;
      .console-location {
        line-height: 0.8rem;
        font-size: 0.8rem;
      }
    }
    .logs {
      top: 40vh;
      width: 85vw;
      height: 30dvh;
      .console-log {
        line-height: 0.8rem;
        font-size: 0.8rem;
      }
    }
  }
}

@keyframes intermittent {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}