.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  padding: 0 1rem;
  max-width: 720px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header__container{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid var(--secondary-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  align-items: center;
  height: min-content;
  padding: 1rem;
  width: 100%;
  max-width: 720px;
  z-index: 1000;

  .header__logo {
    display: flex;
    align-items: center;
    width: max-content;
    height: min-content;
    gap: 0.5rem;
  }
  h1 {
    font-size: 1.2rem;
    color: var(--primary-color);
  }
}

.lang-toggle{
  color: var(--primary-color);
  font-weight: 600;
  line-height: 1lh;
  font-size: 1rem;
  transform: scale(.9);
  outline: 2px solid var(--primary-color);
}

.posts{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  .post{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
}

.posts:focus-within {
  outline: 2px solid var(--primary-color);
}

.post:focus::before{
  content: unset;
}

.posts:hover{
  animation: glitch 4s .4s step-end infinite;
  outline: 2px solid var(--primary-color);
}

@keyframes glitch {
  0%{
    clip-path: polygon(0 0, 50% 0, 50% 50%, 100% 50%,100% 100%,0% 100%);
  }
  3% {
    clip-path: polygon(0 0, 100% 0%,100% 100%, 50% 100%, 20% 100%,20% 50%,0% 50%);
  }
  5%,21%,71% {
    clip-path: none;
    transform: none;
  }
  20%{
    transform: scale(1.05);
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%, 0% 50%, 100% 50%, 100% 75%, 0% 75%, 0% 100%, 100% 100%, 100% 0%, 75% 0%, 75% 100%, 50% 100%, 50% 0%, 25% 0%, 25% 100%, 0% 100%);
  }
  70%{
    transform: translateX(-2px);
    clip-path: polygon(100% 0%, 0% 0%, 0% 50%, 100% 50%, 100% 75%, 0% 75%, 0% 100%, 100% 100%, 100% 100%);
  }
  
}

.posts svg *{
  fill: var(--text-color);
}

.post__image{
  aspect-ratio: 4/3;
  width: calc(16vh / 3 * 4);
  overflow: hidden;
  position: relative;
  border: 2px solid var(--secondary-color);
}

.post__image img{
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  overflow: hidden;
  object-fit: scale-down;
  filter: sepia(1) hue-rotate(var(--hue-rotate)) saturate(1) contrast(2) brightness(.6);
}

.post__image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(circle at 10% 10%,transparent,var(--primary-color) .05px);
  mix-blend-mode: overlay;
  background-size: 2px 4px;
  z-index: 1;
  /* filter: sepia(1) hue-rotate(180deg) saturate(1.5); */
}

.post__image:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 3px solid var(--primary-color);
}

/* repeating-radial-gradient(circle at 10% 10%,transparent,#37ff1498 .05px);
background-size: 4px 2px;
mix-blend-mode: overlay;
filter: sepia(1) hue-rotate(75deg) saturate(3) contrast(1.5) brightness(0.8); */


.post .post__content{
  display: flex;
  flex-direction: column;
  justify-content: center;


  .post__title{
    color: var(--primary-color);
    font-weight: 600;
  }

  .post__desc{
    font-size: .9rem;
  }
}

/* .input-wrap {
  display: none;
  position: relative;
  width: 100%;
  font-size: 1.3rem;
}

#input {
  font: inherit;
  border-bottom: 2px solid var(--primary-color);
  color: var(--text-color);
  padding: 4px;
  caret-color: transparent;
  width: 100%;
  font-size: 1.3rem;
}

.input-wrap:focus-within #caret {
  animation: blink 1s linear infinite forwards;
  background-color: var(--primary-color);
}

.input-wrap:not(:focus-within) #caret {
  animation: none !important;
  background-color: transparent;
}

#mirror {
  position: absolute;
  top: 4px;
  left: 0;
  visibility: hidden;
  padding: 4px;
  font: inherit;
  pointer-events: none;
}

#caret {
  position: absolute;
  width: 1ch;
  height: 1.5rem;
  mix-blend-mode: difference;
  background-color: transparent;
  animation: none;
  pointer-events: none;
} */

@keyframes blink {
  0%,
  100% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: transparent;
  }
}

@media (orientation: portrait) {
  .header {
    h1 {
      font-size: 1rem;
      padding-bottom: 2px;
    }
  }
}

/* -- Footer styles */
.footer {
  background-color: var(--bg-color);
  border-top: 2px solid var(--secondary-color);
  padding:  20px 0 ;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  max-width: 720px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-bottom: 30px;
}

.footer-section h3 {
  color: var(--text-color);
  font-size: 1.1em;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
}

.footer-section a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

.footer-section a:hover {
  color: var(--primary-color);
}

.footer-section a:hover::before{
  position: absolute;
  content: ">";
  left: -1rem;
  color: var(--primary-color);
}

.theme-toggle {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 15px;
}

.theme-btn{
  text-align: left;
}

.theme-btn:hover,
.theme-btn.active {
  color: var(--primary-color);
  animation: none;
  outline: none;
}

.theme-btn.active::before,
.theme-btn:hover::before {
  position: relative;
  font-family: "Space Mono", monospace;
  content: "> ";
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1rem;
  color: var(--primary-color);
}

.contact-obfuscated {
  text-decoration: none;
}

.footer-bottom {
  border-top: 2px solid var(--secondary-color);
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
}

@media (max-width: 500px) {

  .posts{
    height: auto;
    .post{
      flex-direction: column;
    }
    .post__image{
      width: 100%;
      aspect-ratio: 16/9;
      img{
        transform: scale(1.5);
        padding-bottom: 1rem;
      }
    }
  }


  .footer-grid {
    gap: 1rem;
  }

  .footer-stats {
    flex-direction: column;
    gap: 10px;
  }
}