.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
}