:root{
    --primary-color: #00fc00;
    --secondary-color: #255025;
    --background-color: #000000;
    --text-color: #00AA00;
} 

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* selection css */
::selection {
  background: var(--text-color);
  color: var(--background-color);
}
::-moz-selection {
  background: var(--text-color);
  color: var(--background-color);
}