:root {
  --primary-color: #00ffff;
  --secondary-color: #007070;
  --background-color: #000020;
  --text-color: #50ffff;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100dvh;
  width: 100dvw;
}

svg{
  fill: var(--text-color);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* selection css */
::selection {
  background: var(--text-color);
  color: var(--background-color);
}
::-moz-selection {
  background: var(--text-color);
  color: var(--background-color);
}

::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background: var(--background-color);
  font-family: "Space Mono", monospace;
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}