:root {
  --primary-color: #00ffff;
  --secondary-color: #003c3c;
  --bg-color: #000020;
  --text-color: #00c2c2;
  --url-cursor: url("../generic/cursor.cur");
  --url-pointer: url("../generic/pointer.cur");
}

[data-theme="java"] {
  --primary-color: #f89820;
  --secondary-color: #5382a1;
  --bg-color: #ffffff;
  --text-color: #5382a1;
  --url-cursor: url("../generic/cursor2.cur");
  --url-pointer: url("../generic/pointer2.cur");
}

[data-theme="console"] {
  --primary-color: #00ff41;
  --secondary-color: #004511;
  --bg-color: #0a0a0a;
  --text-color: #00b700;
  --url-cursor: url("../generic/cursor2.cur");
  --url-pointer: url("../generic/pointer2.cur");

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

button, a{
  cursor: var(--url-pointer), pointer;
}

button{
  position: relative;
  animation: none;
  background: none;
  border: none;
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 1rem;
}

svg, path {
  fill: var(--primary-color);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* selection css */
::selection {
  background: var(--primary-color);
  color: var(--bg-color);
}
::-moz-selection {
  background: var(--text-color);
  color: var(--bg-color);
}

::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background: var(--bg-color);
  font-family: "Space Mono", monospace;
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
}

/* Buttons */

.button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  padding: 0 0.5rem;
  border: 3px solid var(--bg-color);
}

:focus {
  outline: none;
  animation: selected 0.2s linear;
  transition: border 0.2s ease;
}

.min-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (orientation: portrait) {
  .min-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@keyframes selected {
  0%,30%,100% {
    border: 2px solid var(--primary-color);
  }
  60% {
    border: 2px solid var(--bg-color);
  }
}
