.window {
    display: flex;
  position: absolute;
  margin-top: 20px;
  height: 50dvh;
  max-height: 50dvh;
  width: calc(95dvw - 2rem);
  box-sizing: border-box;
  margin: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid var(--text-color);
}

.window::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    border-bottom: 2px solid var(--text-color);
    background-color: var(--background-color);
}

.window::after{
    content: '_ ▄ █';
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 1lh;
    height: 1.5rem;
    color: var(--text-color);
}
