.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40%;
    color: var(--blue);
}
.about__me{
    width: 50vw;
}
.about__photo{
    position: relative;
    width: 20%;
    aspect-ratio: 1/1;
    padding: 1.5rem;
    clip-path: polygon(0 0, 0 0, 100% 100%,100% 100%,100% 100%,0 0);
    animation: complete-image 1s 1s linear forwards;
}

.about__photo::after{
    top: 0%;
    left: 0%;
    position: absolute;
    content: '';
    background-color: var(--greeNeon);
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 30%, 30% 0%, 100% 0%, 100% 10%, 35% 10%, 10% 35%, 10% 100%, 0% 100%);
}


.about__photo::before{
    bottom: 0%;
    right:  0%;
    position: absolute;
    content: '';
    background-color: var(--greeNeon);
    width: 50%;
    height: 50%;
    clip-path: polygon(100% 0%, 100% 70%, 70% 100%, 0% 100%,0% 90%,65% 90%,90% 65%,90% 0%);
}

@keyframes complete-image {
    0%{
        clip-path: polygon(0 0, 0 0, 100% 100%,100% 100%,100% 100%,0 0);
    }100%{
        clip-path: polygon(0 0, 100% 0, 100% 0,100% 100%,0% 100%,0 100%);
    }
}

.photo--filter{
    clip-path: polygon(0% 15%, 15% 0, 100% 0%, 100% 85%, 85% 100%, 0 100% );
    width: 100%;
    height: 100%;
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
}

.photo--filter img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.photo--filter::before{
    position: absolute;
    background-image: repeating-radial-gradient(circle at 10% 50%, #16670822, #39FF14CC 0.005px);
    width: 100%;
    height: 100%;
    content: '';
    animation: tv-static 1s linear infinite;
}

@keyframes tv-static {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 200% 200%;
  }
}