body{
    cursor: none;
}

#cursor{
    transition: all .1s ease-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}
