
.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: mars;
}

.header__board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 90%;
    height: 50%;
}



@keyframes appear {
    0%,20%,40%{
        opacity: 0;
    }10%,30%,100%{
        opacity: 1;
    }
}

.header__title{
    opacity: 0;
    pointer-events: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: calc(3vh + 4vw);
    animation: appear 2s 2s ease forwards;
    
}

.header__options{
    opacity: 0;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    gap: 2rem;
    animation: appear 1s 3s ease forwards;
}

.header__options h3{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 .5rem;
    color: var(--white);
}

.header__options span{
    display: inline;
    color: var(--gray);
}

.header__options a:hover h3{
    transform: scale(1.3);
}

