.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color:var(--blue);
    font-family: institute;
    gap: 1rem;
    
    .home__title{
        color: var(--white);
        font-size: 4rem;
    }
    
    .home__links{
        color: var(--white);
        display: flex;
        align-items: center;
        gap: 3rem;

    }
}

.link:hover {
    cursor: none;
    transform: scale(1.2);
}