.nav{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: calc(100% - 10vw);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: monospace;
    text-transform: capitalize;
    padding: 5dvw;
    font-size: calc(1.1vh + .7vw);
    z-index: 100;
}

.nav__links{
    display: flex;
    flex-direction: column;
    color: var(--white);
    z-index: 100;
}

.nav__links a{
    padding: .5rem ;
}

.nav__info{
    display: flex;
    flex-direction: column;
}

.nav__info *{
    transition: transform .4s ease;
    color: var(--white);
    padding: .5rem;
}

.nav__info > *:hover,.nav__links a:hover{
   background-color: var(--greeNeon);
   color: var(--black);
   animation: appear .3s ease;
   font-weight: bold;
   opacity: 1;
}


.nav__info > * , .nav__links > *{
    opacity: 0;
    color: var(--white);
    animation: appear 1s ease;
    opacity: 1;
}

.nav__info > *:nth-child(1){ animation-delay: 2.2s;}
.nav__info > *:nth-child(2){ animation-delay: 2.3s;}
.nav__info > *:nth-child(3){ animation-delay: 2.4s;}

.nav__links > *:nth-child(1){ animation-delay: 2.2s;}
.nav__links > *:nth-child(2){ animation-delay: 2.3s;}
.nav__links > *:nth-child(3){ animation-delay: 2.4s;}
.nav__links > *:nth-child(4){ animation-delay: 2.5s;}

@keyframes appear {
    0%,50%{
        opacity: 0;
    }20%,100%{
        opacity: 1;
    }
}

@media (orientation: portrait) {
    .nav{
      padding: 0vh 2vh 2vh;
    }
  }