:root {
  --c-pri: #000000;
  --c-sec: #e7e7e7;
  --c-hov: #f8f8f8;
  --c-act: #12662a;
  --c-see: #5fed83;
  --c-bg: #ffffff;
  --c-txt: #000000;
  --sizeS: calc(4vh + 3vw);
  --sizeM: calc(8vh + 5vw);
  --sizeL: calc(12vh + 7vw);
  --sizeXL: calc(16vh + 11vw);
}

[data-theme="console"] {
  --primary-color: #00ff41;
  --secondary-color: #004511;
  --bg-color: #0a0a0a;
  --text-color: #00b700;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

button,
a {
  cursor: var(--url-pointer), pointer;
}

button {
  position: relative;
  animation: none;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
}

svg,
path {
  fill: var(--primary-color);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* selection css */
::selection {
  background: var(--c-pri);
  color: var(--c-bg);
}

::-moz-selection {
  background: var(--text-color);
  color: var(--bg-color);
}

::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background: var(--bg-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
  outline: 2px solid var(--primary-color);
}

:focus {
  outline: none;
}

:focus::before {
  content: "> ";
  position: relative;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1rem;
  animation: selected .3s ease infinite;
}

/* Buttons */

.button {
  color: var(--primary-color);
  font-family: monospace;
  font-size: 1rem;
  font-weight: 800;
  padding: 0 0.5rem;
  border: 3px solid var(--bg-color);
}

.min-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (orientation: portrait) {
  .min-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@keyframes selected {

  0%,
  30%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}