---
import "./styles.css";
import "./reset.css";
---

<div class="container">
	<div class="title-section">
		<h1 class="name">Cristianbyte</h1>
	</div>
	<div class="info-section">
		<div class="box-sextion">
			<div class="box-element">
				<div class="box-view">
					<div class="box-side">Java</div>
					<div class="box-side">Python</div>
					<div class="box-side">SpringBoot</div>
					<div class="box-side">JavaScript</div>
				</div>
			</div>
			<div class="box-info">From delivery to dveloper</div>
		</div>
		<div class="photo-section">
			<div class="photo-placeholder">
				<img src="/images/Profilev3.png" alt="" srcset="" />
			</div>
		</div>
	</div>
</div>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Anta&family=Share+Tech+Mono&display=swap");
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Share Tech Mono", monospace;
	}

	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
	}

	.title-section {
		display: flex;
		justify-content: center;
		border-bottom: 2px solid var(--c-pri);
		padding: 2rem;
	}

	.name {
		font-family: "Anta", sans-serif;
		font-size: min(10rem, calc(100vw / 9));
		line-height: min(10rem, calc(100vw / 9));
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
		color: black;
	}

	.info-section {
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.box-sextion {
		position: relative;
	}
	.box-element {
		height: 50%;
	}
	.box-view {
		position: relative;
		perspective: 500px;
		height: 100px;
		transform-style: preserve-3d;
		transform-origin: center center 25px;
		animation: rotate 10s linear infinite;
	}
	.box-side {
		position: absolute;
		left: 0;
		top: 0;
		align-content: center;
		backface-visibility: hidden;
		text-align: center;
		width: 150px;
		height: 50px;
		border: 2px solid var(--c-pri);
	}

	.box-side:nth-child(1) {
		transform: translateZ(25px);
	}

	.box-side:nth-child(2) {
		transform: rotateX(-90deg) translateZ(25px);
	} 
	.box-side:nth-child(3) {
		transform: rotateX(-180deg) translateZ(25px);
	}
	.box-side:nth-child(4) {
		transform: rotateX(90deg) translateZ(25px);
	}

	@keyframes rotate {
		0% {
			transform: rotateX(0deg);
		}
		100% {
			transform: rotateX(360deg);
		}
	}

	.photo-section {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.photo-placeholder {
		transform-style: preserve-3d;
		position: relative;
		display: flex;
		width: min(400px, 50vw);
		aspect-ratio: 1/1;
		align-items: center;
		justify-content: center;
		color: #666;
		font-size: 18px;
		z-index: 0;
		img {
			transition: 0.4s ease;
			border: 4px solid var(--c-pri);
			width: 100%;
			height: 100%;
			object-fit: contain;
			background-color: var(--c-bg);
			transform: translate(32px, 32px);
		}
	}
	.photo-placeholder:hover img {
		transform: translate(0px, 0px);
	}

	.photo-placeholder:hover::before,
	.photo-placeholder:hover::after {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}

	.photo-placeholder::before {
		transition: 0.4s ease;
		position: absolute;
		content: "";
		width: calc(100% - 8px);
		height: 30px;
		bottom: 0;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		transform: skewX(45deg) translate(1px, 32px);
		border: 4px solid var(--c-pri);
		border-top: none;
		transform-origin: bottom;
		z-index: -1;
	}

	.photo-placeholder::after {
		transition: 0.4s ease;
		position: absolute;
		content: "";
		height: calc(100% - 6px);
		width: 30px;
		right: 0;
		clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
		transform: skewY(45deg) translate(32px, 0.5px);
		border: 4px solid var(--c-pri);
		border-left: none;
		border-bottom: none;
		transform-origin: right;
		z-index: -1;
	}
</style>
