---
import './styles.css'
import './reset.css'
---

<div class="container">
	<div class="title-section">
		<h1 class="name">Cristianbyte</h1>
	</div>
	<div class="info-section">
		<div class="photo-section">
			<div class="photo-placeholder">
				<img src="/images/Profilev3.png" alt="" srcset="" />
			</div>
		</div>
		<p class="title">Desarrollador Web</p>

	</div>
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Anta&family=Share+Tech+Mono&display=swap');
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Share Tech Mono", monospace;
	}

	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
	}
	
	.title-section{
		display: flex;
		justify-content: center;
		border-bottom: 2px solid var(--c-pri);
		padding: 2rem;
	}

	.name {
		font-family: "Anta", sans-serif;
		font-size: min(10rem, calc(100vw / 9));
		line-height: min(10rem, calc(100vw / 9));
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
		color: black;
	}

	.info-section{
		height: auto;
	}


	.title {
		font-size: 1.5rem;
		font-weight: 400;
		color: #666;
		letter-spacing: 1px;
	}

	.photo-section {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	
	.photo-placeholder {
		transform-style: preserve-3d;
		position: relative;
		display: flex;
		width: min(400px, 50vw);
		aspect-ratio: 1/1;
		align-items: center;
		justify-content: center;
		color: #666;
		font-size: 18px;
		z-index: 0;
		img {
			transition: .4s  ease;
			border: 4px solid var(--c-pri);
			width: 100%;
			height: 100%;
			object-fit: contain;
			background-color: var(--c-bg);
			transform: translate(32px, 32px);
		}
	}
	.photo-placeholder:hover img{
		transform: translate(0px, 0px);
	}
	
	.photo-placeholder:hover::before, .photo-placeholder:hover::after{
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}
	
	.photo-placeholder::before{
		transition: .4s ease;
		position: absolute;
		content: '';
		width: calc(100% - 8px);
		height: 30px;
		bottom: 0;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		transform: skewX(45deg) translate(1px, 32px);
		border: 4px solid var(--c-pri);
		border-top: none;
		transform-origin: bottom;
		z-index: -1;
	}
	
	.photo-placeholder::after{
		transition: .4s ease;
		position: absolute;
		content: '';
		height: calc(100% - 6px);
		width: 30px;
		right: 0;
		clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
		transform: skewY(45deg) translate(32px, .5px);
		border: 4px solid var(--c-pri);
		border-left: none;
		border-bottom: none;
		transform-origin: right;
		z-index: -1;
	}
	
</style>
