
.about{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.about__description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    color: var(--second);
    box-sizing: border-box;
}

.about__description--aside{
    position: relative;
    max-width: 45%;
    font-size: 1.3rem;
    transform: scale(.9);
    transition: 1s ease-in;
    opacity: 0;
}

.about__description--aside:first-of-type{
    align-self: start;
    padding: 1rem 0 0 1rem ;
}

.about__description--aside:first-of-type::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 50%;
    border-top: 1px solid var(--second);
    border-left: 1px solid var(--second);
}

.about__description--aside:last-of-type{
    align-self: flex-end;
    text-align: right;
    padding: 0 1rem 1rem 0;
}

.about__description--aside:last-of-type::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 50%;
    border-bottom: 1px solid var(--second);
    border-right: 1px solid var(--second);
}

.about__description--img{
    margin-bottom: 2vh;
    justify-self: center;
    width: calc(5vh + 2vw);
    transform: scale(3.2);
    border-radius: 50%;
    grid-area: 2 / 2 / 3 / 3;
}

@media (orientation:portrait){
    
    .about{
        height: 60vh;
    }
    .about__description{
        width: 80vw;
        height: 100vh;
        margin-top: 5rem;
    }
    .about__description--aside{
        max-width: 50%;
        font-size: 1rem;
    }
}