/* Button.css */

.button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s ease;
  }
  
  .primary-button {
    background-color: transparent;
    color: var(--fourth);
    border: 2px solid var(--fourth);
  }

  .primary-button:hover {
    color: var(--second);
    border: 2px solid var(--second);
  }
  
  .secondary-button {
    background-color: var(--third);
    color: var(--first);
  }

  .secondary-button:hover {
    background-color: transparent;
    border: 2px solid var(--third);
    color: var(--third);
  }
  
  .danger-button {
    background-color: #dc3545;
    color: #fff;
  }
  