:root {
  --black: #010B12;
  --gray: #393E46;
  --blue: #0092CA;
  --white: #EEEEEE;
  --greeNeon: #39FF14;
}

.app__scene{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;
  background-color: black;
  cursor: url(./assets/cursor.svg), auto;
}

.app__scene:first-child{
  background-color: transparent;
  z-index: 10;
}

a{
  cursor: url(./assets/pointer.svg), auto !important;
}

.app__window{
  transition: transform 1s ease-in;
  display: flex;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform: translateZ(-10rem) translateY(0rem) scale(1);
  transform-origin: bottom;
  flex-direction: column;
  justify-content: center;
  /*filter: drop-shadow(0rem 0rem 1px var(--greeNeon)); */
  border: solid var(--greeNeon) .3rem;
  animation: zoom-in 2s ease-out;
  box-shadow: 0 0 1rem 0 var(--greeNeon), inset 0 0 1rem 0 var(--greeNeon);
  height: 100vh;
  width: 90vw;
}

.backwards{
  transform: translateZ(-1000rem) translateY(-40rem) scale(.1);
}

@keyframes zoom-in {
  0%{
    opacity: .1;
    transform: translateZ(-1000rem) translateY(-40rem) scale(.1);
  }100%{
    opacity: 1;
    transform: translateZ(-10rem) translateY(0rem) scale(1);
  }
}

.app__floor{
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform: rotateX(88deg) rotateY(0deg);
  width: 300vw;
  height: 200vh;
  background-color: #00000000;
  background-image:  linear-gradient( var(--greeNeon) 2px, transparent 2px), linear-gradient(90deg, var(--greeNeon) 2px, transparent 2px);
  background-size: 30px 30px;
  will-change: background-position; 
  animation: forward linear 1s infinite ;
}

.horizon{
  background-image: linear-gradient( #000000FF, #000000BB);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes forward {
  0%{
    background-position: .1rem 0px;
  }100%{
    background-position: .1rem 180px;
  }
}

@media (orientation: portrait) {
  .app__window{
    height: 70vh;
    width: 95vw;
  }
}